@import helper._

@main("links") {

    <div class="container-fluid">
        <h1>useful Links</h1>
        <ul class="links">
            <li> <a href="https://github.com/jce-il/se-class/wiki"> Course site</a>  </li>
            <li> <a href="https://plus.google.com/u/0/communities/116346534442613449326?cfem=1">Course forum </a>  </li>
            <li> <a href="https://github.com/jce-il/Play-Todo_list/"> This site on github</a>  </li>
            <li> <a href="http://getbootstrap.com/components/"> Bootstrap components</a>  </li>
            <li> <a href="http://getbootstrap.com/getting-started/#examples"> Bootstrap: Getting started</a>  </li>



        </ul>
    </div>
}